*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#111;
    overflow:hidden;
    font-family:'Poppins',sans-serif;
}

/* BOOK */
.book{
    position:relative;
    width:360px;
    height:520px;
    perspective:2500px;
}

/* PAGE */
.page{
    position:absolute;
    width:100%;
    height:100%;
    border-radius:18px;
    transform-origin:left;
    transition:transform 1.7s ease;
    overflow:hidden;
    box-shadow:
        0 20px 50px rgba(0,0,0,0.6);
}

/* FRONT PAGE */
.front{
    background:#000;
    color:white;
    z-index:2;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* GOLD BORDER */
.border{
    position:absolute;
    inset:18px;
    border:2px solid #c9a227;
    border-radius:14px;
}

/* CORNERS */
.corner{
    position:absolute;
    width:80px;
    height:80px;
    border-color:#c9a227;
}

.top-left{
    top:12px;
    left:12px;
    border-top:3px solid #c9a227;
    border-left:3px solid #c9a227;
    border-radius:20px 0 0 0;
}

.top-right{
    top:12px;
    right:12px;
    border-top:3px solid #c9a227;
    border-right:3px solid #c9a227;
    border-radius:0 20px 0 0;
}

.bottom-left{
    bottom:12px;
    left:12px;
    border-bottom:3px solid #c9a227;
    border-left:3px solid #c9a227;
    border-radius:0 0 0 20px;
}

.bottom-right{
    bottom:12px;
    right:12px;
    border-bottom:3px solid #c9a227;
    border-right:3px solid #c9a227;
    border-radius:0 0 20px 0;
}

/* CONTENT */
.content{
    text-align:center;
    z-index:5;
}

.small-text{
    color:#d4c27c;
    letter-spacing:3px;
    margin-bottom:20px;
    font-size:13px;
}

.content h2{
    font-family:'Cinzel', serif;
    font-size:38px;
    letter-spacing:5px;
    color:#e5c96c;
}

.content h1{
    font-family:'Cinzel', serif;
    font-size:44px;
    margin:15px 0;
    letter-spacing:6px;
    color:white;
}

.content h3{
    font-family:'Cinzel', serif;
    font-size:32px;
    letter-spacing:4px;
    color:#e5c96c;
    margin-bottom:35px;
}

/* BUTTON */
button{
    padding:12px 28px;
    border:none;
    border-radius:40px;
    background:#c9a227;
    color:black;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
    font-size:15px;
}

button:hover{
    transform:scale(1.05);
}

/* INSIDE PAGE */
.inside{
    background:#f7f1df;
    z-index:1;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:30px;
}

.inside-content h1{
    font-family:'Cinzel', serif;
    color:#111;
    margin-bottom:40px;
    font-size:38px;
}

.line{
    width:220px;
    height:2px;
    background:#999;
    margin:25px auto;
}

/* FOLD ANIMATION */
.book.open .front{
    transform:rotateY(-160deg);
}